.backgroundImage {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 0;
}

.content-wrapper {
    position: relative;
    margin-top: 12rem;
}

.bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 32px;
}

@media (max-width: 992px) {
    .bannertext {
        font-size: 20px;
    }
    .content-wrapper {
        margin-top: 13rem;
    }
  }

@media (max-width: 768px) {
    .bannertext {
        font-size: 10px;
    }
    .content-wrapper {
        margin-top: 8rem;
    }
  }
